html {
  scroll-behavior: smooth;
}
@media (max-width: 767px) {
	.d-xs-inline {
		display: inline !important;
	}
	.textarea {
		min-height: 8em;
	}
	h1 {
		font-size: 0.8em;
	}
}
@media (min-width: 768px) {
	.d-sm-inline {
		display: inline !important;
	}
	.textarea {
		min-height: 15em;
	}
	h1 {
		font-size: 1.1em;
	}
}
@media (min-width: 992px) {
	.d-md-inline {
		display: inline !important;
	}
	.textarea {
		min-height: 20em;
	}
	h1 {
		font-size: 1.8em;
	}
}
@media (min-width: 1200px) {
	.d-lg-inline {
		display: inline !important;
	}
	.textarea {
		min-height: 20em;
	}
	h1 {
		font-size: 1.8em;
	}
}
:root {
	--primary-dark: #252D40;

	--secondary-light: #a1d7c3;
	--secondary-medium: #2da384;
	--secondary-dark: #118062;
};
html {
	transition: all 0.5s ease;
}
body {
	color: var(--secondary-dark);
	/* font-size: 80%; */
}
div, p, button, a, li, th, td, dt, dd {
	font-family: 'Noto Sans', sans-serif;
}
button span {
	font-size: 0.9em;
}
h1, h2 {
	font-family: 'Fjalla One', sans-serif;
}
h1 {
	margin-bottom: 0px;
	color: var(--primary-dark);
	text-decoration: none;
}
/*
h1 a, h1 a:hover, h1 a:focus, h1 a:visited {
	color: var(--primary-dark);
	text-decoration: none;
}
*/
a, a:visited {
	color: var(--secondary-medium);
	transition: all 0.5s ease;
}
a:hover, a:focus {
	color: var(--secondary-light);
	transition: all 0.5s ease;
}
textarea, .textarea {
	font-family: 'Nova Mono', monospace;
	background-color: var(--secondary-light);
	color: var(--primary-dark);
}
.textarea:focus {
	outline: 0px solid transparent;
}
[contenteditable][placeholder]:empty:before, .textarea:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
  display: inline-block;
  overflow: hidden;
}
@media (min-width: 768px) {
	textarea {
		min-height: 30em;
	}
}
body {
	background-color: var(--primary-dark);
}
nav {
	background-color: var(--secondary-medium);
}
@media (min-width: 576px) {
	.
}
.navbar {
	display: block;
}
.navbar-brand  {
	color: var(--primary-dark);
}
.btn-primary:disabled, .disabled {
	color: var(--secondary-medium) !important;
	background-color: var(--primary-dark) !important;
	border-color: var(--secondary-medium) !important;
}
.btn-primary, .btn-primary:visited {
	color: var(--primary-dark);
	background-color: var(--secondary-medium);
	border-color: var(--secondary-medium);
	transition: all 0.5s ease;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
	transition: all 0.5s ease;
}
.btn-primary:active, .btn-primary:focus {
    color: var(--primary-dark);
	background-color: var(--secondary-dark);
	border-color: var(--secondary-dark);
}
.btn-primary:hover {
    color: var(--primary-dark);
	background-color: var(--secondary-light);
	border-color: var(--secondary-dark);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: var(--primary-dark);
	background-color: var(--secondary-dark);
	border-color: var(--secondary-dark);
}
.hidden {
	height: 0;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	transition: all 0.1s linear;
}
.alert {
	margin-bottom: 0;
	transition: all 0.1s linear;
}